<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      --><!-- add this --><!--
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7"/>
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="99.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
  <appSettings>
    <add key="Languages" value="de;es;ja;ru" />
    <!--demo_remove start-->
    <add key="XafMobileUseDebugFiles" value="false"/>
    <add key="MemoryTestsEnabled" value="false" />
    <add key="EnableAllOrigins" value="true" />
    <!--demo_remove end-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=SpaDemo" />
  </connectionStrings>
</configuration>